@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Rokkitt:wght@100;400;700&display=swap');

/*

font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif;
*/

:root{
    --dark-grey:#4C4C4C;
    --grey:#DFDFDF;
    --red:#E41F27;
    --black:#282828;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1440px;
    height: 750px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}





.cardLogin{
    flex: 1;
    background-image: url(/img/bglogin.png);
    background-size: cover;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;


}

.cardLogin h3{
    
    font-size: 30px;
    text-align: center;
    font-family: 'Rokkitt', serif;
    color: #ffff;
    padding: 20px;
    
}


.login-txt1{
    margin-bottom: 30px;
    margin-top: 20px;
   
    
}



.logoCard img{
        max-width: 336px;
        height: 329px;
        margin: 50px 0px 30px;
}


.login{
    display: flex;
    
}

.login-form{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    padding: 0px 30px;

}

.titleLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}

.titleLogin img{
    max-width: 318px;
    height: 82px;
}

.titleLogin p{
    font-size: 40px;
    

}

.login-form form{
    margin: 20px auto;
    max-width: 493px;
   
    
    display: flex;
    flex-direction: column;
    
}

label{
    color: var(--red);
    font-weight: bold;
    font-size: 18px;
   
}

.inputLogin{
    width: 100%;
    margin-top: 25px;
    
}

.inputLogin input{
    border: none;
    width: 100%;
    background-color: var(--grey);
    border-radius: 5px;
    font-size: 20px;
    outline: 0;
    padding: 0px 10px;
   
    
}





.inputLogin i{
    margin: 10px;
    font-size: 20px;
    color: var(--dark-grey);

}

.groupInput{
    
    height: 40px;
    background: var(--grey);
    display: flex;
    border-radius: 5px;
    
    
}

.lembrar{
    margin-top: 15px;
    position: initial;
    display: flex;
    align-items: center;
}
.lembrar p{

    margin-left: 5px;
    font-size: 14px;
}

.btn-entrar{
    margin-top: 50px;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    height: 40px;
    transition: 0.9s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-entrar:hover{
    opacity: 0.8;
    
   
}

.cadastro{
    
    max-width: 493px;
    margin: 0 auto;
}

.esqueceu{
    text-align: right;
    
}

.esqueceu p , a{
    margin-left: 5px;
    font-size: 14px;
}

.esqueceu  a{
    color: var(--red);
    font-weight: bold;
}

.grupBtnCadastrar{
    margin-top: 50px;
}

.grupBtnCadastrar p{
    font-size: 14px;
    font-weight: bold;
    color: var(--red);
    text-align: center;
}

.grupBtnCadastrar a{
    margin: 0 auto;
    width: 100%;
    height: 40px;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    background: var(--black);
    margin-top: 13px;
    border-radius: 5px;
    transition: 0.9s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.grupBtnCadastrar a:hover{
    opacity: 0.8;
    
   
}

#msg{
    margin-top: 3px;
    color: red;
}


@media screen and (max-width:991px) {
    .cardLogin{
        display: none;
    }
    
}




/*---------------HOME--------------------*/
.containerHome{
    max-width: 955px;
    padding: 0px 30px;
    margin: 0 auto;
    
}

.headerHome{
    background-color: var(--black);
    display: flex;
    justify-content: center;
    
}

.headerHome nav{
    padding: 20px 0px;
}

.headerHome nav img{
    max-width: 198px;
    height: 51px;
    
   
}


.userInfo{
    margin-top: 50px;
    
    display: flex;
    
    justify-content: space-between;
     
}



.retangulo{
    width: 16px;
    height: 40px;
    background: var(--red);
    margin-right: 5px;
}

.userName{
    
    display: flex;
    align-items: center;
    
}

.userName p{
    margin-right: 10px;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 25px;
}

.userName i{
   
    font-size: 20px;
}

.busca{
    max-width: 455px;
    display: flex;
    align-items: center;
    background-color: var(--grey);
    border-radius: 5px;
}

.busca input{
   
    max-width: 300px;
    background-color: var(--grey);
    font-size: 20px;
    outline: 0;
    height: 40px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.busca input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}





.busca i{
    margin-left: 5px;
    width: 30px;
    color: #4D4D4D;
    
    
}

@media screen and (max-width:767px) {
    .userInfo{
        flex-direction: column;
        
       
         
    }
     .busca{
        margin: 20px auto ;
    } 

    
}

@media screen and (max-width:450px){
    .busca input{
        max-width: 200px;
    }
}



.showBanner {
    font-family: 'Roboto', sans-serif;
    color: #4D4D4D;
}

.infoShowBanner{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 40px 0px 20px 0px;

}

.infoShowBanner h2{
    margin-right: 20px;
    color: #4D4D4D;
}

@media screen and (max-width:450px){
    .infoShowBanner h2{
       font-size: 18px;
    }
}

.dateShow{
    display: flex;
    align-items: center;
}

.dateShow i{
    margin-right: 10px;
    
}

.banner{
    margin-top: 20px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 955px;
    height: 302px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
padding: 0px 30px;
}

.banner button{
    margin: 0 auto;
    background-color: var(--red);
    color: #ffff;
    height: 40px;
    width: 296px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .banner button{
        max-width: 250px;
        font-size: 18px;
    }
         
   
    
}

.banner button:hover{
    background-color: var(--black);
   
}

.eventos{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

.eventos h2{
    text-align: center;
    margin-top: 27px;
    color: #4D4D4D;
    
}

.cardsEventos{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:500px) {
    .cardsEventos{
       
        justify-content: center;
    }
    
}

.cardEvento{
    width: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}




.cardEvento img{
    width: 183px;
    height: 184px;
    object-fit: none;
}

.dateEventos{
    display: flex;
    margin: 10px auto 10px auto;
    
}

.dateEventos i{
    margin-right: 10px;
    color: #4D4D4D;
}

.cardEvento{
    color: #4D4D4D;
    font-weight: bold;
}

.cardEvento button{
    background-color: var(--red);
    width: 90px;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.cardEvento button:hover{
    background-color: var(--black);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: #ffff;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0px 30px;


}

footer p{
    margin-right: 5px;
   
}




/*MODAL*/

.modal, .modal2{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  font-family: 'Roboto', sans-serif;
  
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0px;


      
}

.modalContainer{
    height:650px ;
    max-width: 704px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -70px;
    
   
   
}



.modal-ImgEvento img{
    flex: 1;
    width: 336px;
    height:650px ;
   
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

@media screen and (max-width:770px) {
    .modal-ImgEvento{
        display: none;
    }
    
}



.modalInfo{
    flex: 1;
   
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}



.logo-modal{
    margin-top: 36px;
}

.modalContainer h2{
    max-width: 360px;
    text-align: center;
    margin-bottom: 60px;
}

.infoTime{
    display: flex;
    justify-content: space-between;
}

.infoTime i, .modal-Cidade i{
    color: var(--red);
    margin-right: 5px;
}

.modal-Cidade {
    margin-top: 20px;
    margin-bottom: 50px;
}

.entrada{
    display: flex;
    justify-content: center;
}

.entrada button{
   width: 104px;
   height: 40px;
   font-size: 15px; 
   font-weight: bold;
   cursor: pointer;
}

.meia{
    border: 1px solid red;
    color: var(--red);
    background-color: #fff;
    margin-right: 56px;

}

.meia:hover{
    background-color:  rgba(250, 159, 159, 0.527);
    
}

.inteira{
    background-color: var(--red);
    color: #fff;
    border: none;
}

.inteira:hover{
    background-color: var(--black);
}

.price{
    margin-top: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.price p{
    font-size: 25px;
    font-weight: bold;
    color: #4C4C4C;
    margin-right: 38px ;
}

.price input{
    border-radius: 2px;
    width: 54px;
    height: 23px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #4C4C4C;
    
}

.price input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.price input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}





.price button{
    background-color: var(--red);
    width: 18px;
    height: 23px;
    border: none;
    border-radius: 2px;
    color: #fff;
}

.price button:hover{
   background-color: var(--black);
}

.btn-carrinho{
    display: flex;
    flex-direction: column;
}

.btn-carrinho button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 296px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: #fff;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-carrinho button:hover{
    opacity: 0.9;
}

.btn-carrinho i{
    margin-right: 5px;
}

.add{
    background-color: var(--red);
    cursor: pointer;

}


.remove{
    background-color: var(--black);
    cursor: pointer;
   
}



.finalizar{
   
    width: 100%;
    height: 55px;
    color: #fff;
    background-color: #00923A;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    border-bottom-right-radius: 20px;
}

.finalizar:hover{
    background-color: rgb(0, 83, 0);
}




/* Modal dois*/



.modal2-container{
    max-width: 704px;
    height:650px ;
    margin: 0 auto;

    padding: 10px 30px;

    background: linear-gradient(180deg, #FFFFFF 0%, #D1D1D1 100%);
    border-radius: 20px;

    position: relative;
    bottom: 80px;
    
 
    
}

.imgModal2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.modal2-container p{
    text-align: center;
    color:  #4C4C4C;
    font-weight: bold;
    font-size: 25px;
   
    max-width: 356px;
    margin: 20px  auto;
}

.txt-modal2{
    display: flex;
    align-items: center;
    justify-content: center;
   
    max-width: 356px;
    margin: 0 auto;
}

.txt-modal2 img{
    width: 27px;
    height: 47px;
}

.mao-modal2{
   
    position: initial;
    padding: 35px 0px 0px ;
   
  
}

.mao-modal2 img{
    position: inherit;
}